@model IEnumerable<TiKayStore.Models.tb_Header>
<div class="col-md-6">
    @if (Model.Last().EndDate <= DateTime.Now)
    {
        <div class="top_nav_left">@Model.Last().ads</div>
    }
    else
    { <div class="top_nav_left"> </div>
    }



</div>



