@model TiKayStore.Models.UserLogin
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src=@Model.Image class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="/admin/account" class="d-block">@Model.LastName @Model.FirstName</a>
    </div>
</div>

