@model TiKayStore.Models.tb_News
@{
    ViewBag.Title = "getNewsbyId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin tức</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="blog-title-area text-center">
                <h3>@Model.Title</h3>

                <div class="blog-meta big-meta">
                    <small><a href="tech-single.html" title="">@Model.CreateDate.ToString() </a></small>
                </div><!-- end meta -->

                <div class="post-sharing">
                    <ul class="list-inline">
                        <li><a href="../../../facebook.com" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                        <li><a href="twitter.com" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div><!-- end post-sharing -->
            </div><!-- end title -->

            <div class="single-post-media">
                <img th:src="" alt="" class="img-fluid">
            </div><!-- end media -->

            <div class="blog-content">
                <div class="pp">
                    @Html.Raw(Model.Description)
                </div><!-- end pp -->
            </div><!-- end content -->

            <div class="blog-title-area">
                <div class="tag-cloud-single">
                    <span>Tags</span>
                    <small><a href="#" title="">lifestyle</a></small>
                    <small><a href="#" title="">colorful</a></small>
                    <small><a href="#" title="">trending</a></small>
                    <small><a href="#" title="">another tag</a></small>
                </div><!-- end meta -->

                <div class="post-sharing">
                    <ul class="list-inline">
                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div><!-- end post-sharing -->
            </div><!-- end title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end col -->
            </div><!-- end row -->

        </div>
    </div>
</div>

