@model IEnumerable<TiKayStore.Models.tb_Advertisement>


@foreach (var i in Model)
{
    <div class="main_slider" style="background-image:url(@i.Image)">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">
                    <!-- Có foreach nó ko ra dòng h6 h1 -->
                    <div class="main_slider_content">
                        <h6 style=" /* font-size: xx-large; */ /* font-style: italic; */ font: initial; font-size: xx-large; font-style: italic; ">@i.Title</h6>
                        <h1 style=" font-size: xxx-large; color: brown; ">@Html.Raw(i.Description)</h1>
                        <div class="red_button shop_now_button">
                        @Html.ActionLink("SHOP NOW", "getProductbyMeta", "Category", new {id=1}, null)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


}

